body{
    margin: 0;
}
h1{
    color: #1b1b1b;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 91px;

}
#joinh1{
    top: 91px;
    margin-bottom: 10px;
}


#joinRoom{ 
    justify-content: flex-start;

}
#radio{
    display: flex;
    flex-direction: row;
    margin-bottom:5px;

    font-family: arial;
}
#radio label{
    margin-right: 7px;
}
#radio > * input{
    margin: 0px;
}
label{  
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1em;
}

#menu{
    max-width: 960px;
    margin: 4em auto;
    display: grid;
    /* border: 2px solid black; */
    position: relative;
    height: 100%;
    grid-template-columns: 1fr 1.5fr 1fr;
    gap: 14px;
    grid-template-rows: 500px;
    justify-content : center;
    z-index: 2;

}

.item{
    position: relative;
    display: flex;
    flex-direction: column;
    border: 1px solid black;
    /* justify-content: center; */
    align-items: stretch;
    background-color: #a4e8db;
    visibility: hidden;
    padding: 8px;

}

#main{
    background-color: #dcf5f0;
    grid-column: 2 4;
    visibility: visible;
    z-index: 4;

}

.item [name="username"]{
    margin-top: 110px;
    margin-bottom: 50px; 
    align-self: center;
    height: 50px;
    width: 200px;
    font-size: 1.4rem;
    font-weight: bold;
    padding: 0;
    text-align: center;
    line-height: 0;
}


[type="button"]{
    margin-top: 10px;
    background-color: #515453;
    color: #ffffff;
    height: 40px;
    font-weight: bold;
    /* border: 0; */
    font-size: 1em
}

#createPlay{
    margin-top: 94.5px;
    font-size: 1.7rem;
    height: 55px;
    bottom: 10px;
}

#joinRoom{
    font-family: Arial, Helvetica, sans-serif;
}
#joinRoom button{
    border:1px solid black;
    border-top: none;
    border-radius: 0;
    text-align: center;
    padding-right: 17px;

    height: 40px;
    width: 100%;
    margin: 0
}
#buttonContainer{
    background-color: white;
    border: 1px solid black;
    flex-grow: 1;
    overflow: scroll;
} 
#buttonContainer button{
    height: 30px;
    background-color: #cbcbcb;
    border: 0;
    font-size: 0.95rem;
}
#buttonContainer a{ 
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 0.85rem;
}
#buttonContainer .odd{
    background-color: #e0e0e0;
} 
#buttonContainer .even{
    background-color: #a2a2a2;
}

#buttonContainer form{ 
  background-color: #f0f0f0;
}
#buttonContainer form #passInput{
    width: 78px;
    height: 14px;
    margin-right: 2px; /*maybe there's padding ...?*/
    margin-bottom: 3px;
    margin-left: 2px;
    border: 1px solid black;
}
#buttonContainer form #passLabel{
    margin-left: 5px;
    font-size: 0.85rem;

}
#buttonContainer form #passSubmit{
    width: 44px;
    height: 18px;   
    float: right;
    margin-right: 4px; 
    border: 1px solid black;
    background-color: #515453;
    color: white;

}
#buttonContainer #Host{
    font-size: 0.85rem;
    margin-left: 5px;
}
#buttonContainer a{
    margin-left: 3px;
    font-size: 0.85rem;
}

#buttonContainer #PlayerCount{
    float: right;
    margin-right: 10px;
}

#buttonContainer #Full{
    margin-left: 5px;
    margin-bottom: 3px; /* it looks like we can only do margin-bottom sometimes if it's inline-block*/
    display: inline-block;
}


#buttonContainer h1{
    margin: 5px;
}

#buttonContainer .errorMessage{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: normal; /*not bold!!*/
    /* font-size: 0.8rem; */
    color: #d64040;
    margin-right: 0px;
    margin-left: 5px; /*maybe do some stuff for the other margins too!!!*/
}

.errorMessage{
    font-family: Arial, Helvetica, sans-serif;

}
#createRoom label{
    display: inline-block;
     align-self: start;

}
#createRoom .errorMessage{

    align-self: end;
    display: inline-block;
    margin-left: 10px; /*does the outer box just stretch? yeah, i mean, it's overflowing*/
    color: #d64040;

}
#createRoom{
    justify-items: start;
}

#playerWarning{
    position:absolute;
    top: 104px;
    left: 378px;
    color: #d64040;
}



/*AGENT SELECT
asdfasda
asdfasdfasf
asdfasfadfaa
*/


#agentSelect{
    max-width: 960px;
    margin: 4em auto;
    display: grid;
    /* border: 2px solid black; */
    position: relative;
    height: 100%; /*actually this might be useless*/
    grid-template-columns: repeat(3, 1fr);
    gap: 14px;

    border: 2px solid crimson;
}

#agentSelect .agent{
    border: 1px solid palegreen;
    height: 250px;
} 

#agentSelect button{
    width:250px;
    height: 250px;
    border-radius: 50%;
}

#test{
    position: absolute;
    width: 608px;
    height: 50px;
}

canvas { 
    width: 100vw;
    height: 100vh;
    display: block;
  }

#game{
    z-index: 5;

}


#mainUIIcons{
    position: absolute; 
    height: 530px;
    width: 300px;
    top: 10px;
    left: 20px;
   /* background-color: green;*/
    font-size: 0;
    font-family: Arial, Helvetica, sans-serif;
    height: 37px;
    /*they all start off as adadad.*/
    z-index: 5;


}
#mainUI img{
    margin-right: 5px;
    
    
}

#store-icon-holder{
   position: relative;
    display: inline-flex;
    top:0px;
    left: 0px;
    height:35px;
    line-height: 35px;

    margin-right: 0px;
    min-width:37px;
    width: 37px; /* We need it to start at the min bound*/
    max-width:96px;
    padding-left: 2px;
   /* background-color:white;*/
    overflow: hidden;
    font-weight: bold;
    background-color:#adadad;
    /*margin-left: 10px;*/
    z-index: 5;


}

#orbsInv-icon-holder{
    position: relative;
    height:35px;
    line-height: 35px;
    display: inline-flex;
    min-width:37px;
    width: 37px;
    overflow: hidden;
    max-width: 90px;


    
    font-weight: bold;
   /* background-color:white;*/
    border-left: none;
    background-color:#adadad;
    z-index: 15;

}

#robosInv-icon-holder{
    position: relative;
    display: inline-flex;
    height:35px;
    line-height: 35px;
    min-width:37px;
    max-width: 113px; /* how is it finding max-width when we didn't supply it??*/
    width: 37px;
    overflow: hidden;   

    
    font-weight: bold;
    /*background-color:white;*/
    border-left: none;
    background-color:#adadad;
    z-index: 5;

}

.showcase{
    
    position: absolute;
    top: 46px;
    left: 20px;  
    height: 505px;
    width: 340px;
    background-color:#bf974d; /*they all start off as adadad.*/
    border: 1px solid black;
    z-index: 5;

    overflow: scroll;
}
#store{
    display: inline-flex;
    flex-wrap: wrap;
    align-content: flex-start;
}

#orbsInv{
}

#roboInv{
}/*
#testButton{
    position: absolute;
    top: 5px;
    left: 500px;
    height: 200px;
    width: 200px;
    background-color: blue;

}*/
span{
    display: inline-flex;
    align-items: center;
    margin-left: 5px;
    margin-right: 0px;
}
/*
#store:hover{
    animation: left-to-right 0.3s ease-in forwards;   
}
@keyframes left-to-right{
    0% {
        transform: scale(1, 1);
    }

    100%{
        transform: translateX(-113px) scale(0.2, 1) ;
    }

}*/

.icon{
    display: inline-block;
    /*color: crimson;*/
    font-size: 20px;
    /*margin-right: 10px;*/
    border: 1px solid black;
}

#roboUI{
    position: absolute; 
    height: 225px;
    width: 1455px;
    top: 560px;
    left: 20px;
    background-color: 'transparent';

}

.expanded{
    animation: expandAnimation 0.2s cubic-bezier(0.25, 0.1, 0.25, 1) forwards;
    animation-delay: 0s;
}

.shrunk{
    animation: shrunkAnimation 0.2s cubic-bezier(0.25, 0.1, 0.25, 1) forwards;
    animation-delay: 0s;


}
.expanded span{
    visibility: visible;
}

.shrunk span{
   /* visibility: hidden;*/
}
/* 0 and 100 are kind of placeholders.. we'll change it with js */
@keyframes expandAnimation{
    0%{
        /*width: 0%;*/
    }
    100%{
       /* width: 100%;  must be changed .. i guess it goes back to normal by default??? why did it work when we removed these? it's almost like we can't overwrite.*/
    }
}

@keyframes shrunkAnimation{
    0% {
       /* width: 0%;*/
    }

    100%{
        /*width: 100%  must be changed */
    }

}

#myTestButton1{
    position: absolute;
    left: 1000px;
    top: 5px;
}

#myTestButton2{
    position: absolute;

    left: 1000px;
    top: 40px;
}


.outerHealth{
    position: absolute;
    top: 100px;
    left: 100px;
    height: 8px;
    width: 70px;
    background-color: green;
}

.innerHealth{

}
/*
canvas{
    z-index: -2;
}*/


#bypassButton{
    z-index: 10;
}

#test{
    position: absolute;

}

.label{
   /* border: 0.3px dotted black;*/
    width: 70px;
    height: 10px;
    background-color: lightcoral;
    }

.innerLabel{
    position: absolute;
    height: 10px;
    width: 100%; /*it should always start w/ 100%, intuitively*/
    background-color: lightgreen;   
}/*
#testUno{
    width: 30px;
    height: 30px;
    background-color: salmon;
    z-index: 4;
    top: 40px;
    bottom: 40px;
    position: absolute;
}
#testDos{
    background-color: purple;
    width: 10px;
    height: 10px;
    
}*/
#noncanvas{
    z-index: 6;
}

#testButton{
    visibility: hidden;
}

#resourceUI{
    position: absolute;

    display: inline-block;
    top: 15px;
    left: 1400px;
    font-size: 3rem;
    font-family: Arial, Helvetica, sans-serif;
   /* background-color: yellow;
    border: 1px solid black;*/
    display: flex;
    
}
#gears{
    display: flex;

    width: 90%;
    height: auto;
    margin-right: 1rem;
}
#energy{
    display: flex;

    width: 90%;
    height: auto;
}
#energy img{
    position: relative;
    top: 0.4rem;
}

.roboUnitGUI{
    display: inline-block;
    border: 1px solid red;
}

.infoHolder {
    display: inline-block;
    border: 1px solid black;

}

/*css tricks :) */


.roboUnit{
    position: static; 

    margin-top: 5px;
    background-color: pink;
    display: inline-grid;
    margin-right: 13px;

    margin-bottom: 30px;
    grid-template-rows: repeat(36.7px, 3);
    grid-template-columns: 65px 90px; 


    height: 110px;
    width: 146px;
    grid-template-areas:
    "title title"
    "image info1"
    "image info1";


    
}

.unitImg{
    position: relative;

    padding-top: 5px;
    padding-bottom: 15.5px;
    padding-left: 0px;
    padding-right: 0px;


 
}

.unitImgHolder{

    grid-area: image;
    border: 2px solid black;
    margin-top: 0px;
    padding-bottom: 5px;
    padding-left: 5px;
    display: flex;
    align-items: center;


}
.unitInfo{
    grid-area: info1;
    display: grid;
    border: 2px solid brown;

    grid-template-columns: 20px 20px 20px 20px;
    grid-template-rows: 28px 28px 28px;

    width: 80px;
    height: 81px;
    
    grid-template-areas:
    "img1 text1 img2 text2"
    "img3 text3 img4 text4"
    "img5 text5 img6 text6";


}


#roboImage1{
    width: 130%;
    height: auto; 
    object-fit: cover;
    object-position: 20% 10%;
    right: 9px;
    top: 5px;
    padding-bottom: 4px;
}
#roboImage2{
    width: 115%;
    height: auto; 
    object-fit: cover;
    object-position: 20% 10%;  
    right: 6px;
    top: 7px;
}
#roboImage3{
    width: 122%;
    height: auto; 
    object-fit: cover;
    object-position: 20% 10%;   
    right: 7.5px;
    top: 7px;


}
#roboImage4{
    width: 100%;
    height: auto; 
    object-fit: cover;
    object-position: 20% 10%;
    right: 2px;
}
#roboImage5{
    width: 110%;
    height: auto; 
    object-fit: cover;
    object-position: 20% 10%; 
    padding-bottom:2px;
    right: 5px;
    bottom: 4px;
}
#unitImgHolder5{
    padding-bottom: 15px;
}

.img1{
    grid-area: img1;
}
.text{
    font-weight: bold;
    text-align: center;
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;
}
.text1{
    grid-area: text1;
}
.text2{
    grid-area: text2;
}
.text3{
    grid-area: text3;
}
.text4{
    grid-area: text4;
}
.text5{
    grid-area: text5;
}
.text6{
    grid-area: text6;
}

.img2{
    grid-area: img2;
}
.img3{
    grid-area: img3;
}
.img4{
    grid-area: img4;
}
.img5{
    grid-area: img5;
}
.img6{
    grid-area: img6;
}

.title{
    grid-area: title;
    border: 1px solid grey;
    height: 20px;

    text-align: center;
    width: 147px;
    height: 23px;

    font-weight: bold;
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;

}

.orbsDiv{
    display: grid;
    grid-template-columns: 20px 20px;
    grid-template-rows: 20px;
    background-color: gold;
    border: 1px solid green;
    
}

.buyButton{
    height: 1.75rem;
    width: 150px;
    background-color: pink;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    overflow: visible;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.buyButton text{
    color: green;
    position: relative;

}


h3{
    display: block;
}

.gearCost{
    position: relative;
    max-width: 20%;
    height: auto;
    margin-left: 3px;
}

.inventoryBubble{
    position: absolute;
    top: 0px;
    left: 1.6rem;
    width: 0.7rem;
    height: 0.7rem;
    border-radius: 50%;
    background-color: red;
    z-index: 8;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 0.5rem;
    display: flex;
    align-content: center;
    align-items: center;
    justify-content: space-around;
}

.inventoryBubble span{
    position: absolute;
    right: 0.22rem;
    top: -1.425em;
}

#faded1{
    width: 120%;
    height: auto;
    opacity: 40%;
    position: relative; /*this changed the size..? why?*/
    left: 2.5rem;
}

#faded2{
    width: 120%;
    height: auto;
    opacity: 40%;
    position: relative; /*this changed the size..? why?*/
    left: 2.4rem;
    bottom: 1rem;
}

#faded3{
    width: 120%;
    height: auto;
    opacity: 40%;
    position: relative; /*this changed the size..? why?*/
    left: 2.5rem;
}

#faded4{
    width: 120%;
    height: auto;
    opacity: 40%;
    position: relative; /*this changed the size..? why?*/
    left: 2.5rem;
}


#faded5{
    width: 120%;
    height: auto;
    opacity: 40%;
    position: relative; /*this changed the size..? why?*/
    left: 2.5rem;
}

.labelElement{

}

#roboUI{
    border: 1px solid black;
    margin-top: -1rem; 
    zoom: 130%;
    height: 10rem;
    display: flex;

}

.activeRoboHolder{
    display: flex;
    flex-direction: column;
    margin-right: 13px;
    border: 1px solid brown;
}

.roboSelect{
    height: 2rem;
    width: 102%;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1rem;
}

.extras{
    display: flex;
    border: 1px solid grey;
    height: 100%;
    align-content: stretch;
}
.superButton{
    width: 100%;
    margin-right: 0.1rem;
    height: 100%;
}

.chipHolder{
    width: 100%;
    border: 1px solid black;
}